/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */
@media (max-width: 576px) { 
    
    /********************/
    /*                  */
    /*      Banner      */
    /*                  */
    /********************/

    .card-questions{ 
        margin-top: 10px;
    }
    .jumbotron-landing {
        height: 125vh;
    } 

    .jumbotron-landing > .container > .row > .img-wrapper > img{ 
        display: none;
    }
    
    /********************/
    /*                  */
    /*       Info       */
    /*                  */
    /********************/
       
    .card-info{ 
        padding: 0;
        border-radius: 30px;
        width: 30%;
        max-height: 130px ;
        margin: 0 auto;
        margin-top: 150px;
        font-weight: bold;
        color: var(--main-darker-color);
        cursor: pointer;
        transition: 0.4s;
        box-shadow: 0px 10px 15px 0px rgb(247, 247, 247);
    }

    .card-info > img{ 
        margin: 20px auto;
        width: 28%;
        height: 28%; 
    }

    .card-info:nth-child(3) > img{ 
        margin: 20px auto; 
        padding-top: 0;
    } 

    /********************/
    /*                  */
    /*      Banner      */
    /*                  */
    /********************/

    .banner-info{  
        margin-top: 100px;
        background: url(../assets/bg-3.png);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 80vh;
    }
    
 
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    
    /********************/
    /*                  */
    /*      Banner      */
    /*                  */
    /********************/

    .card-questions{ 
        margin-top: 10px;
    }
    
    .jumbotron-landing {
        height: 125vh;
    } 

    
    .jumbotron-landing > img{  
        margin-top : -100px;
        height: 500px; 
    }
    
    .jumbotron-landing > .container > .row > .img-wrapper > img{ 
        display: none;
    }
    
    /********************/
    /*                  */
    /*       Info       */
    /*                  */
    /********************/
    .card-info{ 
        padding: 0;
        border-radius: 30px;
        width: 30%;
        max-height: 130px ;
        margin: 0 auto;
        margin-top: 150px;
        font-weight: bold;
        color: var(--main-darker-color);
    }

    .card-info > img{ 
        margin: 20px auto;
        width: 28%;
        height: 28%; 
    }

    .card-info:nth-child(3) > img{ 
        margin: 20px auto; 
        padding-top: 0;
    }
 
    
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  

      
    /********************/
    /*                  */
    /*      Banner      */
    /*                  */
    /********************/

    .jumbotron-landing {
        height: 100vh;
    } 

    .card-questions{ 
        margin-top: 10px;
        box-shadow: 0px 10px 15px 0px rgb(242, 242, 242); 
    }

    
    .jumbotron-landing {
        height: 140vh;
    } 
    
    .jumbotron-landing > .container > .row > .img-wrapper > img{ 
        display: flex;
        margin-top: 50px;
        height: 70%;
        width: 100%;
    }
     
    /********************/
    /*                  */
    /*       Info       */
    /*                  */
    /********************/
    .card-info{ 
        padding: 0;
        border-radius: 30px;
        width: 28%;
        max-height: 200px ;
        margin: 0 auto;
        margin-top: 180px;
        font-weight: bold;
        color: var(--main-darker-color);
    }

    .card-info > img{ 
        margin: 20px auto;
        width: 26%;
        height: 30%; 
    }

    .card-info:nth-child(3) > img{ 
        margin: 20px auto; 
        padding: 5px 0;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
    /********************/
    /*                  */
    /*      Banner      */
    /*                  */
    /********************/

    .card-questions{ 
        margin-top: 15vh;
    }

    .jumbotron-landing {
        height: 140vh;
    } 

    .jumbotron-landing > .container > .row > .img-wrapper > img{ 
        display: flex;
        margin-top: 0;
        height: 100%;
        width: 100%;
    }
    
    /********************/
    /*                  */
    /*       Info       */
    /*                  */
    /********************/
    .card-info{ 
        padding: 15px 0;
        border-radius: 30px;
        width: 23%;
        max-height: 200px ;
        margin: 0 auto;
        margin-top: 190px;
        font-weight: bold;
        color: var(--main-darker-color); 
    } 
    
    .card-info > img{ 
        margin: 20px auto;
        width: 26%;
        height: 40%; 
    }
    
    .card-info:nth-child(3) > img{ 
        margin: 20px auto; 
        padding: 10px 0;
    }
} 

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}