 
/*******************/
/*                 */
/*  Variable Root  */
/*                 */
/*******************/

:root {

	--main-font-raleway: 'Raleway', sans-serif;
	--main-font-roboto: 'Roboto', sans-serif;
	--main-font-roboto-s: 'Roboto Slab', serif;
	--main-font-mons: 'Montserrat', sans-serif;

	--main-dark-color: #DB9933; 
	--main-darker-color: #C05519;
	--main-darkest-color: #9D3B04;
	--main-light-color: #FCF1CA;
	--main-orange-color: #ff9a28;
	--main-yellow-color: #ffd102;
	--main-black-color: #0A0909;
	--main-white-color: #FFFFFF;
	--main-lbrown-color: #E98E23;
	--main-brown-color: #CB5431;
	--main-green-color: #8FFF01;

	--main-radius: 4px;
}

:focus {
	outline: none;
}


/*******************/
/*                 */
/*   Main class    */
/*                 */
/*******************/ 

.text-white{
    color : var(--main-white-color);
}

.text-orange{
    color : var(--main-orange-color);
}

.text-black{
    color : var(--main-black-color);
}

.text-yellow{
    color : var(--main-yellow-color);
}

.text-dark{
    color : var(--main-dark-color);
}

.text-darker{
    color : var(--main-darker-color);
}

.text-darkest{
    color : var(--main-darkest-color);
}

.bg-darker{
    background : var(--main-darker-color); 
}

.bg-orange{
    background-color : var(--main-yellow-color);
}

.bg-light{
    background-color : var(--main-light-color);
}



/********************/
/*                  */
/*      Banner      */
/*                  */
/********************/

.jumbotron-landing {
    height: 60vh;
    opacity: 0.9;
    position: relative; 
}
 

.jumbotron-landing > img{ 
 
    z-index: -1;
    opacity: 0.1;
    margin-top : -200px;
    position: absolute; 
    height: 850px;
    width: 100%;
}

.banner-text{
    opacity: 1;
    z-index: 2;
    z-index: 4;
}

.card-questions{
    border-radius: 30px;
    margin-top: 100px;
}

.txt-questions{
    border-radius: 15px;
    width: 100%;
}

.btn-questions{
    border-radius: 30px;
    width: 100%; 
    font-weight: bold;
    transition: 0.6s;
}

.btn-questions:hover{
   color : var(--main-white-color);
}

.btn-nav-question{
   background-color : var(--main-orange-color);
   border-radius: 30px;
    width: 100%; 
    font-weight: bold;
   transition: 0.3s;
}
.btn-nav-question:hover{
   background-color : var(--main-yellow-color);
}


/********************/
/*                  */
/*       Info       */
/*                  */
/********************/

.card-info{ 
    padding: 15px 0;
    border-radius: 30px;
    width: 20%;
    min-height: 100px ;
    margin: 0 auto;
    margin-top: 210px;
    background-color: var(--main-light-color);
    font-weight: bold;
    color: var(--main-darker-color);
    cursor: pointer;
    transition: 0.4s;
    box-shadow: 0px 10px 15px 0px rgb(247, 247, 247);

}

.card-info:hover{ 
    transform: scale(1.1); 
}

.card-info > img{ 
    margin: 20px auto;
    width: 30%;
    height: 40%; 
}

.card-info:nth-child(3) > img{ 
    margin: 20px auto; 
    padding-top: 20px;
}
