 
/*******************/
/*                 */
/*  Variable Root  */
/*                 */
/*******************/

:root {

	--main-font-raleway: 'Raleway', sans-serif;
	--main-font-roboto: 'Roboto', sans-serif;
	--main-font-roboto-s: 'Roboto Slab', serif;
	--main-font-mons: 'Montserrat', sans-serif;

	--main-dark-color: #DB9933; 
	--main-darker-color: #C05519;
	--main-darkest-color: #9D3B04;
	--main-light-color: #FCF1CA;
	--main-orange-color: #ff9a28;
	--main-yellow-color: #ffd102;
	--main-black-color: #0A0909;
	--main-white-color: #FFFFFF;
	--main-lbrown-color: #E98E23;
	--main-brown-color: #CB5431;
	--main-green-color: #8FFF01;

	--main-radius: 4px;
}

:focus {
	outline: none;
}


/*******************/
/*                 */
/*   Main class    */
/*                 */
/*******************/ 

body{
    overflow-x: hidden;
}

.text-white{
    color : var(--main-white-color);
}

.text-orange{
    color : var(--main-orange-color);
}

.text-black{
    color : var(--main-black-color);
}

.text-yellow{
    color : var(--main-yellow-color);
}

.text-dark{
    color : var(--main-dark-color);
}

.text-darker{
    color : var(--main-darker-color);
}

.text-darkest{
    color : var(--main-darkest-color);
}

.bg-darker{
    background : var(--main-darker-color); 
}

.bg-orange{
    background-color : var(--main-yellow-color);
}

.bg-light{
    background-color : var(--main-light-color);
}

.bg-black{
    background-color : var(--main-black-color);
}



/********************/
/*                  */
/*      Navbar      */
/*                  */
/********************/

.img-logo{
    width: 45px;
    height: 40px;
}

/********************/
/*                  */
/*      Banner      */
/*                  */
/********************/

.jumbotron-landing {
    height: 60vh; 
    position: relative; 
    background: url(../assets/bg-4.png);
    background-position: top center;
}
 

.jumbotron-landing > img{ 
 
    z-index: -1;
    opacity: 0.1;
    margin-top : -200px;
    position: absolute; 
    height: 850px;
    width: 100%;
}
 
.jumbotron-landing > .container > .row > .img-wrapper > img{ 
    width: 100%;
}
 

.card-questions{
    border-radius: 30px;
    margin-top: 100px;
}

.txt-questions{
    border-radius: 15px;
    width: 100%;
}

.btn-questions{
    border-radius: 30px;
    width: 100%; 
    font-weight: bold;
    transition: 0.3s;
    background-color: var(--main-darker-color);
   color : var(--main-white-color);

}

.btn-questions:hover{
    background-color: var(--main-dark-color);
   color : var(--main-white-color);
}

.btn-nav-question{
   background-color : var(--main-orange-color);
   border-radius: 30px;
    width: 100%; 
    font-weight: bold;
   transition: 0.3s;
}
.btn-nav-question:hover{
   background-color : var(--main-yellow-color);
}



/********************/
/*                  */
/*       Info       */
/*                  */
/********************/

.title-info{   
    margin-top: 210px;   
}

.card-info{ 
    padding: 15px 0;
    border-radius: 30px;
    width: 20%;
    min-height: 100px ;
    margin: 0 auto;
    /* margin-top: 210px; */
    /* background-color: var(--main-white-color); */
    border: solid 2px var(--main-light-color);
    font-weight: bold;
    color: var(--main-darker-color);
    cursor: pointer;
    transition: 0.4s;
    box-shadow: 0px 10px 15px 0px rgb(247, 247, 247);

}

.card-info:hover{ 
    transform: scale(1.1); 
}

.card-info > img{ 
    margin: 20px auto;
    width: 30%;
    height: 40%; 
}

.card-info:nth-child(3) > img{ 
    margin: 20px auto; 
    padding-top: 20px;
}


/********************/
/*                  */
/*      Banner      */
/*                  */
/********************/

.banner-info{  
    margin-top: 100px;
    background: url(../assets/bg-5.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.banner-info p{  
    
    font-weight: bold; 
    font-size: 2em;
    line-height: 40px;
}

/********************/
/*                  */
/*      Reason      */
/*                  */
/********************/

.line-reason{
    width: 60%;
    border-radius: 5000px;
    border : solid 2px var(--main-darkest-color)
}

/********************/
/*                  */
/*       FAQ        */
/*                  */
/********************/ 
input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.accordion-wrapper {
    overflow: hidden;
    /* border-radius: 30px; */
    width: 85%;
    margin:0 auto;
}
.accordion {
    /* width: 85%; */
    box-shadow: 0 4px 4px -2px rgba(216, 216, 216, 0.5);
    width: 100%;
    border-radius: 40px;
    color: white;
    overflow: hidden;
    margin-bottom: 16px;
}
.accordion:last-child{
    margin-bottom: 0;
}
.accordion-label {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 16px 30px;
    background: var(--main-darker-color);
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
}
.accordion-label:hover {
    background: var(--main-dark-color);
}
.accordion-label::after {
    content: "\276F";
    width: 16px;
    height: 16px;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.accordion-content {
    max-height: 0;
    padding: 0 16px;
    color: var(--main-dark-color);
    background: white;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.accordion-content p{
    margin: 0;
    color: var(--main-dark-color);
    font-size: 18px;
}
input:checked + .accordion-label {
    background: var(--main-darkest-color);
}
input:checked + .accordion-label::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
input:checked ~ .accordion-content {
    max-height: 100vh;
    padding: 30px;
}
  


/********************/
/*                  */
/*      Footer      */
/*                  */
/********************/

.jumbotron-foot > .container > .row > .tentang a,
.jumbotron-foot > .container > .row > .social  a{ 
    transition: 0.3s;
    line-height: 35px;
} 
 
.tentang a, .social a{
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    color: var(--main-white-color);
}

.tentang a:hover, .social a:hover{
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    color: var(--main-darker-color);
}
